* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard.disabled,
#title-screen.disabled{
    display:none;
}

#title-screen,
#gameboard {
    display: flex;
    justify-content: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gameboard > div:hover {
    background-color: #BFDBFE;
    cursor: pointer;
}

.cell {
    display: flex;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 96px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#title-screen {
    flex-direction: column;
    align-items: center;

}


.mark-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    margin: 50px 100px;
}

.mark-select button {
    flex: 1 1 0;
    height: 100px;
    width: 400px;
    font-size: 72px;
    font-weight: bold;
}

